# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

/node_modules

# Next.js
/build/
.env*.local
/.next/
next-env.d.ts

.pnpm-debug.log*

# Vercel
.vercel

# TypeScript
*.tsbuildinfo
