<section class="flex flex-col gap-8">
  <div class="flex flex-col gap-4">
    <p>
      I was born in Calcutta, moved around a lot as a kid, and now live <a href="/writing/alone/">alone</a> in a 100m<sup>2</sup>, dimly-lit studio apartment in a
      quiet neighborhood in Ottawa.
    </p>
    <p>
      I’m heavily inspired by <strong>Japanese</strong>
      philosophy. <strong>Obsessed</strong> with details. <strong>Minimalist</strong
      >, in all aspects of life. <strong>Outspoken</strong>, yet I’m mindful of
      the effect it has on others.
    </p>
  </div>

  <div class="flex flex-col gap-2">
    <h2 class="font-medium text-gray-12">Some things about me:</h2>
    <ul class="list-inside list-decimal [&_ul]:ml-4 [&_ul]:list-[revert]">
      <li>On the Internet since 1997</li>
      <ul class="disc list-inside">
        <li>Made my first website on the Internet in 2006</li>
        <li>Made my first <em>$$$</em> on the Internet in <a href="https://web.archive.org/web/20211026174615/https://www.feed-forward.net/w.1316_Patterns">2013</a></li>
      </ul>
      <li>Westerner with an <em>oriental</em> mindset</li>
      <li>Studied <em>engineering</em> at <a href="https://carleton.ca/sce/beng-software/">Carleton University</a></li>
      <li><strong>Strong</strong> distaste for labels and titles</li>
      <li>Interested in baking &amp; cooking, intelligence gathering (mainly <strong>HUMINT</strong> &amp; <strong>OSINT</strong>), privacy &amp; security (of Internet architecture &amp; systems), sustainability</li>
    </ul>
  </div>

  <div class="flex flex-col gap-2">
    <h2 class="font-medium text-gray-12">Ethos:</h2>
    <ul class="list-inside list-decimal [&_ul]:ml-4 [&_ul]:list-[revert]">
      <li>Be <strong>curious</strong>, not <strong>judgmental</strong></li>
      <li>Be <em>efficient</em>, <strong>not</strong> fast</li>
      <li>Everything around me is someone else’s life’s work</li>
      <li>How you do anything is how you do <em>everything</em></li>
      <li><a href="https://www.goodreads.com/quotes/564003-it-s-supposed-to-be-hard-if-it-were-easy-everyone" rel="nofollow noopener noreferrer">If it were easy, everyone would do it</a></li>
      <li><a href="https://www.goodreads.com/quotes/387614-we-don-t-rise-to-the-level-of-our-expectations-we" rel="nofollow noopener noreferrer">Raise your floor, not your ceiling</a></li>
      <li><a href="http://www.davehitt.com/facts/marktwain.html" rel="nofollow noopener noreferrer">Trust no (wo)man who has no redeeming vices</a></li>
    </ul>
  </div>
</section>
