/* https://web.dev/articles/optimize-webfont-loading */

@font-face {
  font-family: "Commit Mono";
  font-display: swap;
  font-style: normal;
  font-weight: 200 700;
  src: url("/fonts/font-mono.woff2") format("woff2");
}

@font-face {
  font-family: "Commit Mono";
  font-display: swap;
  font-style: italic;
  font-weight: 200 700;
  src: url("/fonts/font-mono.woff2") format("woff2");
}

@font-face {
  font-family: "Inter";
  font-display: swap;
  font-style: normal;
  font-weight: 100 900;
  /* This is instead done using `pyftsubset` from `fonttools` */
  /* unicode-range: U+0020-007F, U+00A0-00FF, U+0100-017F, U+2018, U+2019, U+201C,
    U+201D; */
  src: url("/fonts/font-sans-serif-regular-subset.woff2") format("woff2");
}

@font-face {
  font-family: "Newsreader";
  font-display: swap;
  font-style: italic;
  font-weight: 400;
  src: url("/fonts/font-serif.woff2") format("woff2");
}

@media (prefers-color-scheme: dark) {
  :root {
    --font-mono-weight: 400;
    --font-sans-serif-weight: 575;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --font-mono-weight: 450;
    --font-sans-serif-weight: 500;
  }
}

/* This article is a decent read: https://medium.com/airbnb-engineering/rethinking-text-resizing-on-web-1047b12d2881 */
/* Apple’s Dynamic Type requires this font family to be used */
/* Only target iOS/iPadOS */
@supports (font: -apple-system-body) and (-webkit-touch-callout: default) {
  :root {
    font: -apple-system-body;
  }
}

/* Everywhere else */
:root {
  --font-mono: "Commit Mono";
  --font-sans: "Inter";
  --font-serif: "Newsreader";
}
