@import "./colors.css";
@import "./fonts.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer {
  p {
    @apply leading-snug tracking-tight;
  }
}

@layer components {
  .prose {
    .admonition {
      @apply border-l-2 border-solid border-accent-9 p-4;

      p + p {
        @apply my-0;
      }
    }

    .admonition-title {
      @apply mb-1 mt-0;
    }
  }
}

:root {
  --bg: var(--accent-1);

  /* Font stack */
  --font-kode-mono: "Kode Mono";
  --font-libre-caslon: "Libre Caslon Condensed";
  --font-medieval-sharp: "Medieval Sharp";

  /* Defaults */
  --font-size: 16px; /* 1 rem */
  --font-weight: 400; /* normal */

  /* https://www.joshwcomeau.com/shadow-palette/ */
  --shadow-color: 80deg 11% 69%;
  --shadow-elevation-low: 0.7px 0.5px 0.7px hsl(var(--shadow-color) / 0.46),
    0.9px 0.7px 1px -2.1px hsl(var(--shadow-color) / 0.34),
    2.3px 1.7px 2.5px -4.2px hsl(var(--shadow-color) / 0.21);
  --shadow-elevation-medium: 0.7px 0.5px 0.7px hsl(var(--shadow-color) / 0.49),
    1.3px 1px 1.4px -1.4px hsl(var(--shadow-color) / 0.39),
    4.2px 3.1px 4.5px -2.8px hsl(var(--shadow-color) / 0.29),
    11.7px 8.7px 12.6px -4.2px hsl(var(--shadow-color) / 0.19);
  --shadow-elevation-high: 0.7px 0.5px 0.7px hsl(var(--shadow-color) / 0.45),
    1.5px 1.1px 1.6px -0.6px hsl(var(--shadow-color) / 0.41),
    3px 2.2px 3.2px -1.2px hsl(var(--shadow-color) / 0.36),
    6.1px 4.5px 6.5px -1.8px hsl(var(--shadow-color) / 0.31),
    11.7px 8.6px 12.5px -2.4px hsl(var(--shadow-color) / 0.27),
    20.6px 15.2px 22.1px -3px hsl(var(--shadow-color) / 0.22),
    33.7px 25px 36.2px -3.6px hsl(var(--shadow-color) / 0.17),
    52.1px 38.5px 55.9px -4.2px hsl(var(--shadow-color) / 0.13);
}

*::selection {
  background-color: var(--accent-3);
  color: var(--accent-11);
}

html {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-text-size-adjust: 100%;

  background-color: var(--bg);
  font-size: var(--font-size);
  font-weight: var(--font-weight);
  scrollbar-gutter: stable;
  scroll-behavior: smooth;
  tab-size: 2;
  touch-action: manipulation;
}

body {
  color: var(--sand-11);
  font-synthesis: none;
  text-wrap: pretty;
}

:where(h1, h2, h3, h4, h5, h6) {
  text-wrap: pretty;
}

b,
strong {
  --font-weight: 600;

  color: var(--sand-12);
  font-weight: var(--font-weight);
  letter-spacing: -0.05em;
}

code,
kbd,
pre,
samp {
  --type-mono: normal var(--font-weight) calc(var(--font-size) + 2px) / 1
    var(--font-kode-mono);

  font: var(--type-mono);
}

mark {
  background-color: var(--accent-4);
  color: var(--accent-12);
}
