@import "@radix-ui/colors/mauve.css";
@import "@radix-ui/colors/mauve-alpha.css";
@import "@radix-ui/colors/ruby.css";
@import "@radix-ui/colors/ruby-alpha.css";
@import "@radix-ui/colors/black-alpha.css";

@import "./rehype-pretty-code.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg: var(--ruby-1);

  /* Font stack */
  --font-eb-garamond: "EB Garamond";
  --font-newsreader: "Newsreader";
  --font-satoshi: "Satoshi";

  /* Defaults */
  --font-size: 1rem; /* 16px */
  --line-height: 1.225;
  --ui-font-weight: 600;

  --type-ui: normal var(--ui-font-weight) calc(var(--font-size) * 0.875) / 1.2
    var(--font-satoshi);
}
