@import "./rehype-pretty-code.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Inter";
  src: url("/fonts/inter-variable.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Martian Mono";
  src: url("/fonts/martian-mono-variable.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Newsreader";
  src: url("/fonts/newsreader-subset.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Scto Grotesk A";
  src: url("/fonts/scto-grotesk-a-subset.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "Sohne";
  src: url("/fonts/sohne-subset.woff2") format("woff2");
  font-display: swap;
}

html {
  @apply h-full scroll-smooth;
}

html body {
  @apply h-full touch-manipulation hyphens-auto bg-white px-8 pt-16 font-sans text-sm font-normal antialiased selection:bg-sky-100/95 selection:text-neutral-950/80;
  text-rendering: optimizeLegibility;
}

@layer base {
  :root {
    --font-display: "Inter";
    --font-serif: "Newsreader";
    --leading: 24px;
    --theme-text: rgba(237, 247, 248, 0.9);
    --type-heading: 500 16px / var(--leading) var(--font-display);
    --type-italic: 300 italic calc(1em + 1px) / normal var(--font-serif);
  }

  :where(h1, h2, h3, h4, h5, h6) {
    font: var(--type-heading);
  }

  :where(em, i) {
    font: var(--type-italic);
  }
}

@layer utilities {
  .wide-words {
    word-spacing: 1.2px;
  }
}

.prose blockquote {
  @apply border-l-2 border-l-neutral-300/30;
}

.prose blockquote p {
  @apply font-serif text-base tracking-[-0.01em] text-neutral-950/40;
}

.prose :where(h1, h2, h3, h4, h5, h6) a {
  @apply font-serif no-underline;
}

.prose a[data-footnote-ref] {
  @apply text-stone-500;
}

.prose a[data-footnote-backref] {
  @apply no-underline;
}

.prose section[data-footnotes] {
  @apply mt-12 text-xs sm:text-sm;
}

.prose section[data-callout] p {
  @apply text-emerald-950/75;
}

.prose section[data-callout] p a {
  @apply text-emerald-950/75;
}

.wrapper {
  display: grid;
  grid-template-columns:
    1fr
    min(50ch, 100%)
    1fr;
}

.wrapper > * {
  grid-column: 2;
}

.full-bleed {
  width: 100%;
  grid-column: -1 / 1;
}
