code {
  counter-reset: line;
}

code[data-line-numbers] > [data-line]::before {
  counter-increment: line;
  content: counter(line);
  @apply mr-8 inline-block w-6 text-right;
}

/* `rehype-pretty-code` code blocks assume a grid layout */
div[data-rehype-pretty-code-fragment] code {
  display: grid;
}

div[data-rehype-pretty-code-fragment] pre {
  @apply mt-0;
}

div[data-rehype-pretty-code-title] {
  @apply rounded-t-md px-[0.75rem] py-[0.25rem] font-mono text-sm;
  background-color: rgba(3, 7, 22, 0.9);
  line-height: 1rem;
}

div[data-rehype-pretty-code-title] + pre {
  @apply mt-0 rounded-t-none;
}

span[data-highlighted-chars] {
  --tw-shadow: 0 0 #0000;
  @apply rounded-sm border-b-2 border-yellow-400/80 bg-yellow-300/95 p-1 font-semibold text-yellow-300;
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
    var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

span[data-highlighted-chars] > span {
  @apply text-amber-300/80;
}

span[data-highlighted-line] {
  @apply rounded-sm border-amber-300 bg-amber-300/95;
}

span[data-line] {
  @apply overflow-x-auto whitespace-pre-wrap break-words;
}

span[data-rehype-pretty-code-fragment] code {
  @apply overflow-x-auto rounded-sm p-1;
}
