---
const year = new Date().getFullYear();
---

<footer class="mb-8 mt-4 p-6">
  <div class="mx-auto mb-4 mt-12 text-lg sm:mb-6 sm:max-w-md">
    <p class="font-serif text-green-100/90">
      Keep up with me via <a
        class="underline decoration-green-300/30 !underline-offset-[2.5px] transition-colors hover:decoration-green-300/50"
        href="/rss.xml"><em class="font-semibold">RSS</em></a
      >. Want to <em class="font-semibold">talk</em> to me directly? I’d love to
      <a
        class="underline decoration-green-300/30 !underline-offset-[2.5px] transition-colors hover:decoration-green-300/50"
        href="mailto:hey@kimchiii.space"><em class="font-semibold">hear</em></a
      > from you.
    </p>
  </div>
  <div
    class="mx-auto mb-12 mt-4 font-sans text-sm leading-snug tracking-[0.020em] text-green-100/90 sm:mb-16 sm:max-w-md"
  >
    &copy; Kunall Banerjee 2014-{year}. Content is licensed <a
      class="underline decoration-green-300/30 !underline-offset-[2.5px] transition-colors hover:decoration-green-300/50"
      href="https://creativecommons.org/licenses/by-sa/4.0/">CC BY-SA 4.0</a
    >, a Free Culture License. The <a
      class="underline decoration-green-300/30 !underline-offset-[2.5px] transition-colors hover:decoration-green-300/50"
      href="https://github.com/yeskunall/www">source code</a
    > is available under the <a
      class="underline decoration-green-300/30 !underline-offset-[2.5px] transition-colors hover:decoration-green-300/50"
      href="https://github.com/yeskunall/www?tab=MIT-1-ov-file#readme">MIT</a
    >
    license. This site collects (anonymous) visitor <a
      class="underline decoration-green-300/30 !underline-offset-[2.5px] transition-colors hover:decoration-green-300/50"
      href="https://vercel.com/docs/analytics">analytics</a
    >.
  </div>
</footer>
