---
const year = new Date().getFullYear();
---

{/* eslint-disable max-len */}

<footer class="group relative mb-8 mt-4 select-none p-6">
  <div
    class="relative mx-auto mb-4 mt-12 text-lg opacity-60 transition-opacity group-hover:opacity-80 sm:mb-6 sm:max-w-md"
  >
    <p class="font-serif text-black/95">
      Keep up with me via <a
        class="underline decoration-neutral-300/30 underline-offset-[2.5px] transition-colors hover:decoration-neutral-300/50"
        href="/rss.xml"><em class="font-semibold">RSS</em></a
      >. Want to <em class="font-medium">talk</em> to me directly? I’d love to
      <a
        class="underline decoration-neutral-300/30 underline-offset-[2.5px] transition-colors hover:decoration-neutral-300/50"
        href="mailto:hey@kimchiii.space"><em class="font-semibold">hear</em></a
      > from you.
    </p>
  </div>
</footer>
