---
import { format } from "date-fns";
---

<footer class="mb-8 mt-16 text-xs" data-animate style="--stagger:12">
  <p class="mb-3 select-none hyphens-none font-sans text-neutral-50/30">
    This site was crafted in Ottawa, Canada and last updated on {
      format(new Date(), "yyyy/MM/dd")
    }
  </p>
  <samp class="text-neutral-50/50">はじめまして</samp>
</footer>

<style>
  @keyframes enter {
    0% {
      opacity: 0;
      transform: translateY(10px);
    }

    to {
      opacity: 1;
      transform: none;
    }
  }

  [data-animate] {
    --delay: 120ms;
    --stagger: 0;
    --start: 0ms;
  }

  @media (prefers-reduced-motion: no-preference) {
    [data-animate] {
      animation: enter 0.6s both;
      animation-delay: calc(var(--delay) * var(--stagger) + var(--start));
    }
  }
</style>
