---
import { cn } from "@/lib/utils";
---

<div
  class={cn(
    "fixed left-0 right-0 top-0 z-[9999] h-[75px] overflow-hidden",
    "select-none pointer-events-none",
  )}
  aria-hidden="true"
>
</div>
<header class="group my-8 select-none p-3"></header>
