---
import { Button } from "@/components/ui/button.tsx";
import GitHubIcon from "@/components/icons/github-icon.astro";
import Navigation from "@/components/navigation.tsx";
---

<div
  class="bg-gradient-radial-repeat-dot pointer-events-none fixed left-0 right-0 top-0 z-[9999] h-[75px] select-none overflow-hidden border-b-[1px] border-b-black/10 bg-[size:4px_4px] backdrop-blur-[3px] backdrop-brightness-[100%]"
  aria-hidden="true"
>
</div>
<div class="full-bleed my-4 flex items-center justify-end">
  <Button
    id="sign-with-github"
    className="px-3 text-xs self-end sm:flex sm:items-center sm:justify-between sm:gap-x-1.5"
    variant="outline"
  >
    <GitHubIcon /><span class="hidden sm:inline-block">Login using GitHub</span>
  </Button>
</div>
<header class="mb-16 mt-2 flex items-center justify-center gap-x-10">
  <Navigation
    currentTab={Astro.url.pathname.replace("/", "")}
    client:load
    transition:persist
  />
</header>

<script>
  const signInButton = document.querySelector(
    "#sign-with-github",
  ) as HTMLButtonElement;

  signInButton.addEventListener("click", event => {
    console.log({ event });
  });
</script>
