---
import Navigation from "@/components/navigation.tsx";
import SignIn from "@/components/sign-in";
---

<div
  class="bg-gradient-radial-repeat-dot pointer-events-none fixed left-0 right-0 top-0 z-[9999] h-[75px] select-none overflow-hidden border-b-[1px] border-b-black/10 bg-[size:4px_4px] backdrop-blur-[3px] backdrop-brightness-[100%]"
  aria-hidden="true"
>
</div>
<div class="full-bleed my-4 flex items-center justify-end">
  <SignIn client:load />
</div>
<header class="mb-16 mt-2 flex items-center justify-center gap-x-10">
  <Navigation
    currentTab={Astro.url.pathname.replace("/", "")}
    client:load
    transition:persist
  />
</header>
