---
import { cn } from "@/lib/utils";
---

<div
  class={cn(
    "bg-gradient-radial-repeat-dot",
    "fixed left-0 right-0 top-0 z-[9999] h-[75px] overflow-hidden",
    "select-none pointer-events-none",
    // eslint-disable-next-line max-len
    "border-b-[1px] border-b-black/10 bg-[size:4px_4px] backdrop-blur-[3px] backdrop-brightness-[100%]",
  )}
  aria-hidden="true"
>
</div>
<header class="my-12 flex items-center justify-center"></header>
