---
import { Icon } from "astro-icon/components";

import Section from "~/components/base/section.astro";
---

<Section class="pt-12 text-sm sm:pt-24 sm:text-base" stagger={3}>
  <h1
    class="relative mt-3 font-sans text-2xl tracking-[-0.005em] text-gray-11 sm:text-3xl"
  >
    Building modest
    <span class="text-gray-12">software</span> &amp;
    <span class="text-gray-12">websites</span> on the internet from <span
      class="text-gray-12">YOW</span
    > &amp;
    <span class="text-gray-12">BOM</span> and sometimes <span
      class="text-gray-12">YYZ</span
    > &amp; <span class="text-gray-12">YVR</span>
  </h1>
  <p class="mb-3 mt-6">
    I’m a designer &amp; developer heavily inspired by the <strong
      >minimalist movement</strong
    > and
    <strong>Japanese</strong>
    philosophy. My work can be characterized as austere, modest, and simple. <strong
      >Obsessed</strong
    > with details. <strong>Minimalist</strong>, in all aspects of life. <strong
      >Outspoken</strong
    >, yet I’m mindful of the effect it has on others.
  </p>
  <div class="mb-3 flex flex-col justify-center gap-x-1">
    <p>
      Crafting delightful <strong>experiences</strong>, <strong
        >interfaces</strong
      >, &amp; <strong>products</strong> at
    </p>
    <span class="ml-1 inline-flex items-center text-accent-9"
      ><Icon class="h-20 w-40 text-black" name="trigram-text" /></span
    >
  </div>
</Section>
