---
import { getCollection } from "astro:content";

import Section from "~/components/base/section.astro";
import PostPreview from "~/components/blog/post-preview.astro";
import { sortByDate } from "~/lib/post";

const allPosts = sortByDate(await getCollection("post"));
---

<Section stagger={12}>
  <dl class="-my-8 grid grid-cols-[max-content_minmax(0,_1fr)]">
    {
      allPosts.map(post => {
        return <PostPreview post={post} />;
      })
    }
  </dl>
</Section>
