---
import PageLayout from "@/layouts/Base";

export const prerender = true;

const meta = {
  title: "About",
  description: "About Kunall Banerjee",
};
---

<PageLayout meta={meta}>
  <div class="space-y-6 text-base">
    <h1 class="title">About</h1>
    <p>
      I’m an <em>engineer</em>, and a privacy and security researcher. <em
        >Minimalist</em
      >, in all aspects of life. <em>Outspoken</em>, yet I’m mindful of the
      effect it has on others.
    </p>
    <p>
      Born in Calcutta, India, I spent most of my childhood and early teens
      moving from place to place. In that time, I lived in 7 different cities,
      and attended 13 different schools. Once I turned 18, I moved to Ottawa,
      Canada to pursue engineering.
    </p>
    <p>
      These days, if I’m not travelling around the world, I split my time living
      in East-coast Canada and East-coast India.
    </p>
    {
      /*<h1 class="title">Connect</h1>
    <p>
      You decided to contact me. <em>That’s great</em>. Below is my email.
      It doesn’t matter who you are, or what you want to talk about, if you
      email me with serious intent, then I will definitely respond.
    </p>
    <p class="space-y-3 font-serif font-light select-all">hey@kimchiii.space</p>
    <p>
      You can try and contact me in other ways, but I most likely won’t respond.
    </p>
  <h1 class="title">Colophon</h1>*/
    }
    <p>
      Built with <a
        class="cursor-alias underline decoration-slate-300/50 underline-offset-[2.5px]"
        href="https://astro.build"
        rel="nofollow noopener noreferrer"
        target="_blank">Astro</a
      > &amp; <a
        class="cursor-alias underline decoration-slate-300/50 underline-offset-[2.5px]"
        href="https://tailwindcss.com"
        rel="nofollow noopener noreferrer"
        target="_blank">Tailwind CSS</a
      >. Blog content written using <a
        class="cursor-alias underline decoration-slate-300/50 underline-offset-[2.5px]"
        href="https://tailwindcss.com"
        rel="nofollow noopener noreferrer"
        target="_blank">MDX</a
      >. Typeset in <span class="font-mono text-[12.5px] leading-[14px]"
        >Martian Mono</span
      > (code blocks), <span class="font-serif">Newsreader</span> and <span
        class="font-sans">Söhne</span
      >. No ads, no cookie consent banners, none of that <strong
        class="font-serif font-extrabold">bullshit</strong
      >.
    </p>
  </div>
</PageLayout>
