---
import Bio from "@/components/bio.astro";
import Ethos from "@/components/ethos.astro";
import Gallery from "@/components/gallery.astro";
import ImpossibleList from "@/components/impossible-list.astro";
import PageLayout from "@/layouts/base.astro";

import { PICTURES } from "@/data/constants";

import "@/styles/about.css";

const meta = {
  title: "About / @yeskunall",
  description:
    "About Kunall Banerjee—a digital craftsman building modest software & websites on the internet",
};
---

<PageLayout meta={meta}>
  <section data-animate style="--stagger:1.5">
    <h1
      class="mb-4 flex select-none items-center gap-x-1.5 font-sans text-lg font-medium text-neutral-100/80"
    >
      <span class="inline-block h-3 w-3 bg-[#b3fc03]"></span>About
    </h1>
    <p
      class="my-3 hyphens-none font-sans text-[15.6px] leading-5 text-neutral-50/60"
    >
      Hey, Kunall here—an Indian, based in Canada. I’m a nomadic with strong
      family ties. Instead of working hard to become wealthy, I am satisfied
      with what I have. I have extreme disdain for small talk. I prefer talking
      online over in-person. I’m constantly chasing the <em>hyggeligt</em>
       feeling&mdash;some of my best moments are spent in low-light
      environments, enjoying deep conversations and good food. Eating hot, soul
      food when it’s raining outside brings me utmost joy. Life is too short to
      spend time engaging in “if only” or “what if?” thoughts about the past and
      present. I like to challenge myself, and spend an inordinate amount of
      time honing my craft. Favorite scent is petrichor. I also like trying new
      cuisines, admiring (past &amp; modern) architecture, exploring minimalism
      in design and life, and sitting in complete silence.
    </p>
    <p
      class="mb-0 mt-6 hyphens-none font-sans text-[15.6px] leading-5 text-neutral-50/60"
    >
      Thanks for reading,
    </p>
    <p
      class="mb-10 mt-3 select-none font-signature text-xl text-neutral-50/90 sm:text-2xl"
    >
      Kunall Banerjee
    </p>
  </section>
  <section data-animate style="--stagger:5">
    <Bio />
    <div
      class="justify-between text-neutral-200 duration-500 animate-in fade-in sm:flex"
    >
      <div class="flex flex-col gap-y-6 md:max-w-[450px] md:gap-y-0">
        <div class="my-1 sm:my-4" data-animate style="--stagger:8">
          <Gallery photos={PICTURES} />
        </div>
        <Ethos />
        <ImpossibleList />
      </div>
    </div>
  </section>
</PageLayout>

<style>
  @keyframes enter {
    0% {
      opacity: 0;
      transform: translateY(10px);
    }

    to {
      opacity: 1;
      transform: none;
    }
  }

  [data-animate] {
    --delay: 120ms;
    --stagger: 0;
    --start: 0ms;
  }

  @media (prefers-reduced-motion: no-preference) {
    [data-animate] {
      animation: enter 0.6s both;
      animation-delay: calc(var(--delay) * var(--stagger) + var(--start));
    }
  }
</style>
