---
import PageLayout from "@/layouts/base.astro";

import type { SiteMeta } from "@/data/site-meta";

const meta: SiteMeta = {
  title: "Colophon / @yeskunall",
};
---

<PageLayout meta={meta}>
  <section data-animate style="--stagger:3">
    <h1
      class="mb-4 flex select-none items-center gap-x-1.5 font-sans text-lg font-medium text-neutral-100/80"
    >
      <span class="inline-block h-3 w-3 bg-[#b3fc03]"></span>Colophon
    </h1>
    <h2 class="mb-1.5 select-none font-sans font-medium text-neutral-50/30">
      Typography
    </h2>
    <p class="my-1.5 hyphens-none font-sans text-sm text-neutral-50/60">
      Drawing inspiration from the renowned Swiss design movement, Geist is an
      open-source, modern, geometric typeface, specifically designed for
      developers and designers. Created by Vercel in collaboration with Basement
      Studio. Code blocks are displayed in Martian Mono.
    </p>
    <p class="mb-8 mt-1.5 hyphens-none font-sans text-sm text-neutral-50/60">
      Newsreader is an original typeface designed by Production Type, primarily
      intended for continuous on-screen reading in content-rich environments.
    </p>
    <h2 class="mb-1.5 select-none font-sans font-medium text-neutral-50/30">
      Technical
    </h2>
    <p class="mb-8 mt-1.5 hyphens-none font-sans text-sm text-neutral-50/60">
      Built with Astro, Radix UI, Tailwind. Content written in MDX. Deployed and
      hosted on Vercel. Cookie-free, privacy-respecting analytics with Vercel
      Analytics.
    </p>
    <h2 class="mb-1.5 select-none font-sans font-medium text-neutral-50/30">
      Photos
    </h2>
    <p class="mb-8 mt-1.5 hyphens-none font-sans text-sm text-neutral-50/60">
      All images were taken and edited (altered) by me (Kunall Banerjee), unless
      stated otherwise. I aim to provide sources for all imagery on this site.
      However, due to the nuances of the internet and platforms for visual
      inspiration, it’s not always possible to do so.
    </p>
  </section>
</PageLayout>

<style>
  @keyframes enter {
    0% {
      opacity: 0;
      transform: translateY(10px);
    }

    to {
      opacity: 1;
      transform: none;
    }
  }

  [data-animate] {
    --delay: 120ms;
    --stagger: 0;
    --start: 0ms;
  }

  @media (prefers-reduced-motion: no-preference) {
    [data-animate] {
      animation: enter 0.6s both;
      animation-delay: calc(var(--delay) * var(--stagger) + var(--start));
    }
  }
</style>
