---
import PageLayout from "@/layouts/Base";
---

{/* eslint-disable max-len */}

<PageLayout meta={{ title: "Home" }}>
  <section
    id="main"
    class="my-6 break-normal text-base leading-7 tracking-[0.020em] text-green-100/90"
    data-animate
    style="--stagger:3"
  >
    <h1 class="mb-5 font-sans text-3xl font-medium sm:text-5xl">
      <span class="tracking-tight">Kunall Banerjee</span><br /><span
        class="text-2xl sm:text-4xl"
        >is a&nbsp;<em class="text-emerald-300/90">digital craftsman</em><br
        /></span
      ><span class="text-xl sm:text-3xl"
        >based in <span class="select-none"
          ><span
            class="rotating-text-word left-[84px] font-serif font-medium text-emerald-300/90 sm:left-[125px]"
            >Ottawa</span
          ><span
            class="rotating-text-word left-[84px] font-serif font-medium text-emerald-300/90 sm:left-[125px]"
            >Toronto</span
          >
          <span
            class="rotating-text-word left-[84px] font-serif font-medium text-emerald-300/90 sm:left-[125px]"
            >Vancouver</span
          ><span
            class="rotating-text-word left-[84px] font-serif font-medium text-emerald-300/90 sm:left-[125px]"
            >Mumbai</span
          ><span
            class="rotating-text-word left-[84px] font-serif font-medium sm:left-[129px]"
            >🌏</span
          ></span
        ></span
      >
    </h1>
    <h2 class="mt-8 select-none text-lg font-semibold sm:text-xl">Intro</h2>
    <p class="my-3">
      <em>Obsessed</em> with details. Craft
      <strong class="font-medium">delightful</strong>
      <em> experiences</em> &amp; <em>interfaces</em>. <em>Minimalist</em>, in
      all aspects of life. <em>Outspoken</em>, yet I’m mindful of the effect it
      has on others.
    </p>
    <p class="my-3">
      Born in Calcutta, India, raised in 7 different cities, and attended 13
      different schools. Lived a large part of the last decade in Ottawa. If I’m
      not travelling, I split my time living in East-coast Canada and East-coast
      India.
    </p>
  </section>
  <section
    id="currently"
    class="my-6 break-normal text-base leading-7 tracking-[0.020em] text-green-100/90"
    data-animate
    style="--stagger:5"
  >
    <h2 class="select-none text-lg font-semibold sm:text-xl">Currently</h2>
    <p class="my-3">
      After being&nbsp;<em>funemployed</em> for 3 months, I’m finally looking for
      my next role. At the same time, I’m working on a few projects as a freelance
      developer <em>&amp; loving it</em>. Still trying to find my <strong
        class="font-semibold">ikigai</strong
      >, though. Turns out this is a&nbsp;<em>tough one</em>.
    </p>
    <div class="mt-3">
      <a
        class="underline decoration-green-300/30 underline-offset-[2.5px] transition-colors hover:decoration-green-300/50"
        href="/now"
        rel="prefetch">Find out more</a
      >
    </div>
  </section>
  <section
    id="previously"
    class="my-6 break-normal text-base leading-7 tracking-[0.020em] text-green-100/90"
    data-animate
    style="--stagger:5"
  >
    <h2 class="select-none text-lg font-semibold sm:text-xl">Previously</h2>
    <p class="my-3">
      I worked as a Senior Support Engineer &amp; before that as a <a
        class="cursor-alias underline decoration-green-300/30 underline-offset-[2.5px] transition-colors hover:decoration-green-300/50"
        href="https://read.cv/yeskunall/on-being-a-solutions-engineer"
        rel="nofollow noopener noreferrer"
        target="_blank">Solutions Engineer</a
      >, where I built bespoke solutions for brands like <em>CareSource</em>, <em
        >Corning Inc.</em
      >, <em>Electronic Arts</em>, <em>GSK plc</em>, <em>Haleon plc</em>, <em
        >Nationwide Mutual Insurance Company</em
      >, among several others.
    </p>
  </section>
</PageLayout>

<style>
  @keyframes enter {
    0% {
      opacity: 0;
      transform: translateY(10px);
    }

    to {
      opacity: 1;
      transform: none;
    }
  }

  [data-animate] {
    --delay: 120ms;
    --stagger: 0;
    --start: 0ms;
  }

  @media (prefers-reduced-motion: no-preference) {
    [data-animate] {
      animation: enter 0.6s both;
      animation-delay: calc(var(--delay) * var(--stagger) + var(--start));
    }
  }
</style>
