---
import { FramerLogo, FigmaLogo } from "@phosphor-icons/react";

import Bio from "@/components/bio.astro";
import Broadly from "@/components/broadly.astro";
import Contact from "@/components/contact.astro";
import Currently from "@/components/currently.astro";
import PageLayout from "@/layouts/base.astro";
import InfiniteScroller from "@/components/infinite-scroller.astro";

import {
  AstroLogo,
  NextLogo,
  NodeLogo,
  PostgresLogo,
  RadixLogo,
  ReactLogo,
  RoRLogo,
  TailwindLogo,
} from "@/components/icons";

import { cn } from "@/lib/utils";
---

<PageLayout meta={{ title: "Kunall Banerjee / @yeskunall" }}>
  <section
    id="main"
    class="leading-relaxed -tracking-[0.01em] text-neutral-700/90"
    data-animate
    style="--stagger:1.5"
  >
    <div class="relative flex items-center space-x-1.5">
      <div
        class={cn(
          "before:animate-eye-movement before:content-[''] before:rounded-[100%] before:h-[3px] before:w-[3px] before:absolute before:top-[10px] before:left-[10px] before:[background:#000]",
          "animate-rotate-head block w-6 h-6 rounded-[100%] [border:1px_solid_#000] [box-shadow:inset_2px_-2px_3px_#000] relative [background:#f8f8f8] ",
          "after:animate-eye-movement after:content-[''] after:h-[3px] after:w-[3px] after:rounded-[100%] after:[background:#000] after:absolute after:top-[10px] after:left-[18px]",
        )}
      >
      </div>
      <h1
        class="flex items-center gap-x-1.5 font-sans text-[18px] font-medium tracking-[-1px] text-lime-50/50"
      >
        Kunall Banerjee
      </h1>
    </div>
    <p
      class="mt-3 hyphens-none font-serif text-[30px] leading-[120%] tracking-[-1px] text-neutral-50/95"
    >
      Digital craftsman, building modest software &amp; websites on the internet
    </p>
    <p class="my-3 hyphens-none font-sans text-neutral-50/75">
      I like to create delightful
      <em> experiences</em> &amp; <em>interfaces</em>. <em>Obsessed</em> with
      details.&nbsp;<em>Minimalist</em>, in all aspects of life. <em
        >Outspoken</em
      >, yet I’m mindful of the effect it has on others.
    </p>
    <div class="mt-10">
      <Currently />
      <Broadly />
    </div>
    <hr
      class="my-8 h-3 border-y-0 border-lime-300 [border-left:.75rem_solid_rgb(179_252_3_/_1)]"
    />
  </section>
  <section class="text-sm" data-animate style="--stagger:3">
    <p class="my-3 hyphens-none font-sans text-neutral-50/60">
      I’m a designer &amp; developer inspired by the <em>minimalist movement</em
      > and
      <em>wabi-sabi</em>
       philosophy, as characterized by the austerity, modesty, and simplicity of
      my work.
    </p>
    <p class="my-3 hyphens-none font-sans text-neutral-50/60">
      I’m used to working in fast-paced environments, collaborating with
      interdisciplinary teams distributed across the world.
    </p>
    <p class="my-3 hyphens-none font-sans text-neutral-50/60">
      At the end of the day, I really enjoy building for the web. From
      copywriting, motion design, typography, motion design, performance,
      accessibility—the sea is vast and endless, something which I’m <em
        >itching</em
      > to explore.
    </p>
    <div>
      <InfiniteScroller>
        <li>
          <FigmaLogo className="h-6 w-6 text-white" weight="duotone" />
        </li>
        <li><AstroLogo className="h-10 w-24" /></li>
        <li><ReactLogo className="h-8 w-8 text-white" /></li>
        <li><NextLogo className="h-8 w-8 fill-white" /></li>
        <li><RoRLogo className="h-10 w-10 fill-white" /></li>
        <li><RadixLogo className="h-12 w-12 text-white" /></li>
        <li><TailwindLogo className="h-20 w-20 text-white" /></li>
        <li>
          <FramerLogo className="h-6 w-6 text-white" weight="duotone" />
        </li>
        <li><NodeLogo className="h-12 w-12 fill-white" /></li>
        <li><PostgresLogo className="h-6 w-6" /></li>
        <li>
          <FigmaLogo className="h-6 w-6 text-white" weight="duotone" />
        </li>
        <li><AstroLogo className="h-10 w-24" /></li>
        <li><ReactLogo className="h-8 w-8 text-white" /></li>
        <li><NextLogo className="h-8 w-8 fill-white" /></li>
        <li><RoRLogo className="h-10 w-10 fill-white" /></li>
        <li><RadixLogo className="h-12 w-12 text-white" /></li>
        <li><TailwindLogo className="h-20 w-20 text-white" /></li>
        <li>
          <FramerLogo className="h-6 w-6 text-white" weight="duotone" />
        </li>
        <li><NodeLogo className="h-12 w-12 fill-white" /></li>
        <li><PostgresLogo className="h-6 w-6" /></li>
      </InfiniteScroller>
    </div>
    <p class="mb-3 mt-1.5 hyphens-none font-sans text-neutral-50/60">
      I’m not picky about many things, and nothing is set in stone, but these
      days I tend to prefer <a
        class="bg-[#b3fc03]/30 text-sky-50 underline decoration-[#b3fc03]/90 decoration-2 underline-offset-4 transition-colors hover:bg-[#b3fc03] hover:text-neutral-950/95"
        href="https://boringtechnology.club/"
        rel="nofollow noopener noreferrer">boring tech</a
      >.
    </p>
  </section>
  <section class="text-sm" data-animate style="--stagger:5">
    <Bio />
    <Contact />
  </section>
</PageLayout>

<style>
  @keyframes enter {
    0% {
      opacity: 0;
      transform: translateY(10px);
    }

    to {
      opacity: 1;
      transform: none;
    }
  }

  [data-animate] {
    --delay: 120ms;
    --stagger: 0;
    --start: 0ms;
  }

  @media (prefers-reduced-motion: no-preference) {
    [data-animate] {
      animation: enter 0.6s both;
      animation-delay: calc(var(--delay) * var(--stagger) + var(--start));
    }
  }
</style>
