---
import { getCollection } from "astro:content";

import Newsletter from "@/components/newsletter.astro";
import PageLayout from "@/layouts/base.astro";
import PostPreview from "@/components/blog/post-preview.astro";

import { sortByDate } from "@/utils";

const allPosts = await getCollection("post");
const allPostsByDate = sortByDate(allPosts);
---

<PageLayout meta={{}}>
  <section data-animate style="--stagger:1.5">
    <p
      class="not-prose mt-3 font-sans text-[32px] leading-[1.125] tracking-[-1px] text-gray-12"
    >
      <span>Digital</span>
      <span class="font-serif italic">craftsman</span>, building <strong
        class="font-semibold tracking-tighter">modest</strong
      >
      <span class="font-serif italic">software</span> &amp; <span
        class="font-serif italic">websites</span
      > on the internet
    </p>
    <p class="my-3">
      I like to create delightful
      <em>experiences</em> &amp; <em>interfaces</em>. <em>Obsessed</em> with details.&nbsp;<em
        >Minimalist</em
      >, in all aspects of life. <em>Outspoken</em>, yet I’m mindful of the
      effect it has on others.
    </p>
    <p class="my-3">
      I’m a designer <em>&amp;</em> developer inspired by the <em
        >minimalist movement</em
      > and
      <em>wabi-sabi</em>
      philosophy, as characterized by the austerity, modesty, and simplicity of my
      work.
    </p>
    <p class="my-3">
      At the end of the day, I really enjoy building for the web. From branding,
      copywriting, color theory, motion design, performance, typography, user
      experience—the sea is vast and endless, something which I’m <em
        >itching</em
      > to explore.
    </p>
  </section>
  <section aria-label="All blog posts" class="pt-12">
    <ul>
      {
        allPostsByDate.map((post, index) => {
          return (
            <li>
              <PostPreview
                class="border-b"
                post={post}
                data-animate
                stagger={index * 2}
              />
            </li>
          );
        })
      }
    </ul>
  </section>
  <section
    class="pt-12"
    data-animate
    style={`--stagger:${allPostsByDate.length > 0 ? allPostsByDate.length * 2 + 3 : 20}`}
  >
    <Newsletter />
  </section>
</PageLayout>

<style>
  @keyframes enter {
    0% {
      opacity: 0;
      transform: translateY(10px);
    }

    to {
      opacity: 1;
      transform: none;
    }
  }

  [data-animate] {
    --delay: 120ms;
    --stagger: 0;
    --start: 0ms;
  }

  @media (prefers-reduced-motion: no-preference) {
    [data-animate] {
      animation: enter 0.6s both;
      animation-delay: calc(var(--delay) * var(--stagger) + var(--start));
    }
  }
</style>
