---
import { format } from "date-fns";

import PageLayout from "@/layouts/base.astro";

const meta = {
  title: "Currently",
  description: "What I’m up to these days",
};
---

{/* eslint-disable max-len */}

<PageLayout meta={meta}>
  <section id="now" class="text-sm leading-5" data-animate style="--stagger:3">
    <h1
      class="mb-4 flex select-none items-center gap-x-1.5 font-sans text-lg font-medium text-neutral-50/30"
    >
      <span class="bg-lime-300 inline-block h-3 w-3"></span>Now
    </h1>
    <p class="mb-2.5 text-base text-neutral-50/80">
      I just got back to Canada after spending 4 months in India. It’s the
      longest I’ve been away from Canada at a stretch. But, it’s never enough
      time spent with your loved ones.
    </p>
    <p class="mb-2.5 text-base text-neutral-50/90">
      Juggling between interviews and freelance work at the same time. I had
      forgotten how stressful interviewing for jobs can be. I’m still trying to
      find my <em>ikigai</em>. Turns out this is a hard thing.
    </p>
    <p class="mb-3 select-none font-sans text-neutral-100/70">
      Last updated <span class="font-sans text-sm font-medium"
        >{format(new Date("2023-10-21T12:25:40.042Z"), "do MMMMMM yyyy")}</span
      >
    </p>
  </section>
  <section
    id="archive"
    class="relative my-6 text-base leading-relaxed -tracking-[0.01em] text-neutral-900/90"
    data-animate
    style="--stagger:12"
  >
    <h2 class="mb-4 select-none font-sans text-lg font-medium text-neutral-500">
      Archive
    </h2>
    <div>
      <p class="mb-2.5 text-base text-neutral-400">
        <em>Funemployed</em> &amp; trying to find my <em>ikigai</em>. Moved into
        a new house in India, somewhere in the hills, <em class="font-semibold"
          >like I’ve always wanted</em
        >. Reading <em>all the books</em> I’ve been meaning to this whole time.
        Spending an inordinate amount of time with my loved ones, because none
        of us are getting any younger.
      </p>
      <p class="mb-3 select-none font-sans text-neutral-400/70">
        <span class="font-sans text-sm font-medium"
          >{
            format(new Date("2023-06-21T23:19:26.974Z"), "do MMMMMM yyyy")
          }</span
        >
      </p>
    </div>
  </section>
</PageLayout>

<style>
  @keyframes enter {
    0% {
      opacity: 0;
      transform: translateY(10px);
    }

    to {
      opacity: 1;
      transform: none;
    }
  }

  [data-animate] {
    --delay: 120ms;
    --stagger: 0;
    --start: 0ms;
  }

  @media (prefers-reduced-motion: no-preference) {
    [data-animate] {
      animation: enter 0.6s both;
      animation-delay: calc(var(--delay) * var(--stagger) + var(--start));
    }
  }
</style>
