---
import { format } from "date-fns";

import PageLayout from "@/layouts/Base.astro";

const meta = {
  title: "What I’m up to these days",
  description: "What I’m up to these days",
};
---

{/* eslint-disable max-len */}

<PageLayout meta={meta}>
  <section id="now" class="text-sm leading-5" data-animate style="--stagger:3">
    <h2
      class="relative mb-4 select-none font-display text-lg font-medium text-neutral-600"
    >
      Now
    </h2>
    <p class="mb-2.5 text-base text-neutral-900/90">
      I just got back to Canada after spending 4 months in India. It’s the
      longest I’ve been away from Canada at a stretch. But, it’s never enough
      time spent with your loved ones.
    </p>
    <p class="mb-2.5 text-base text-neutral-900/90">
      Juggling between interviews and freelance work at the same time. I had
      forgotten how stressful interviewing can be. I’m still trying to find my <em
        >ikigai</em
      >. Turns out this is a hard thing.
    </p>
    <p class="mb-3 select-none font-sans text-neutral-700/70">
      Last updated <span class="font-display text-sm font-medium"
        >{format(new Date(), "do MMMMMM yyyy")}</span
      >
    </p>
  </section>
  <section
    id="archive"
    class="relative my-6 text-base leading-relaxed -tracking-[0.01em] text-neutral-900/90"
    data-animate
    style="--stagger:12"
  >
    <h2
      class="title mb-4 select-none font-display text-lg font-medium text-neutral-500"
    >
      Archive
    </h2>
    <p class="mb-2.5 text-base text-neutral-400">
      <em>Funemployed</em> &amp; trying to find my <em>ikigai</em>. Moved into a
      new house in India, somewhere in the hills, <em class="font-semibold"
        >like I’ve always wanted</em
      >. Reading <em>all the books</em> I’ve been meaning to this whole time. Spending
      an inordinate amount of time with my loved ones, because none of us are getting
      any younger.
    </p>
    <p class="mb-3 select-none font-sans text-neutral-400/70">
      <span class="font-display text-sm font-medium"
        >{format(new Date("2023-06-21T23:19:26.974Z"), "do MMMMMM yyyy")}</span
      >
    </p>
  </section>
</PageLayout>

<style>
  @keyframes enter {
    0% {
      opacity: 0;
      transform: translateY(10px);
    }

    to {
      opacity: 1;
      transform: none;
    }
  }

  [data-animate] {
    --delay: 120ms;
    --stagger: 0;
    --start: 0ms;
  }

  @media (prefers-reduced-motion: no-preference) {
    [data-animate] {
      animation: enter 0.6s both;
      animation-delay: calc(var(--delay) * var(--stagger) + var(--start));
    }
  }
</style>
