---
import PageLayout from "@/layouts/Base";

const meta = {
  title: "Projects",
  description:
    "Projects I’m working on currently, or have worked on it the past",
};
---

<PageLayout meta={meta}>
  <div class="mb-16 text-green-100/80">
    <div class="flex flex-col gap-1">
      <button
        class="flex items-center rounded-xl p-3 outline-none"
        data-animate
        style="--stagger:3"
      >
        <span
          class="inline-block w-2/5 select-none text-left font-serif text-base"
        >
          Nu
        </span>
        <p class="hidden w-11/12 sm:block">
          A micro-CMS for managing &amp; publishing your life updates
        </p>
        <div class="w-2/5 border border-t border-emerald-950/30"></div>
        <span class="ml-3">2023</span>
      </button>
      <a
        class="flex items-center rounded-xl p-3 outline-none"
        data-animate
        href="https://marketplace.visualstudio.com/items?itemName=yeskunall.deep-rainforest"
        rel="nofollow noopener noreferrer"
        target="_blank"
        style="--stagger:5"
      >
        <span
          class="inline-block w-2/5 select-none text-left font-serif text-base"
        >
          Deep Rainforest
        </span>
        <p class="hidden w-3/5 sm:block">
          A VS Code theme with lush green hues &amp; serene blue undertones
        </p>
        <div class="w-2/5 border border-t border-emerald-950/30"></div>
        <span class="ml-3">2023</span>
      </a>
      <a
        class="flex items-center rounded-xl p-3 outline-none"
        data-animate
        href="https://green.kimchiii.space"
        rel="nofollow noopener noreferrer"
        target="_blank"
        style="--stagger:7"
      >
        <span
          class="inline-block w-2/5 select-none text-left font-serif text-base"
        >
          Green web hosts
        </span>
        <p class="hidden w-4/5 sm:block">
          Find green web hosts around the world
        </p>
        <div class="w-2/5 border border-t border-emerald-950/30"></div>
        <span class="ml-3">2023</span>
      </a>
      <button
        class="flex items-center rounded-xl p-3 outline-none"
        data-animate
        style="--stagger:9"
      >
        <span
          class="inline-block w-2/5 select-none text-left font-serif text-base"
        >
          HackerNews Digest
        </span>
        <p class="hidden w-4/5 sm:inline-block">
          Weekly digest of top stories from HN
        </p>
        <div class="w-2/5 border border-t border-emerald-950/30"></div>
        <span class="ml-3">2023</span>
      </button>
    </div>
  </div>
</PageLayout>

<style>
  @keyframes enter {
    0% {
      opacity: 0;
      transform: translateY(10px);
    }

    to {
      opacity: 1;
      transform: none;
    }
  }

  [data-animate] {
    --delay: 120ms;
    --stagger: 0;
    --start: 0ms;
  }

  @media (prefers-reduced-motion: no-preference) {
    [data-animate] {
      animation: enter 0.6s both;
      animation-delay: calc(var(--delay) * var(--stagger) + var(--start));
    }
  }
</style>
