---
type Props = {
  title?: string;
};

const { title = "Extras" } = Astro.props;
---

<aside
  class="not-prose bg-gray-2 border-gray-6 text-gray-11 shadow-gray-3 flex w-full flex-col gap-y-0.5 rounded border px-4 py-3 !text-xs shadow-md [font:var(--type-ui)]"
>
  <h4 class="font-bold">
    {title}
  </h4>
  <div class="contents *:mb-1.5 *:mt-0">
    <slot />
  </div>
</aside>
