---
import Footnote from "@/components/footnote.astro";
---

<div class="my-4 text-sm">
  <h2 class="mb-1.5 select-none font-sans font-medium text-neutral-50/30">
    Bio
  </h2>
  <p class="my-3 hyphens-none font-sans text-neutral-50/60">
    I was born in Calcutta on 21<sup>st</sup> April, 1996. I spent most of my
    childhood and early teens moving from place to place. In that time, I lived
    in 7 different cities, and attended 8 different schools. Because of that,
    I’m nomadic at heart, but still have strong family ties. After high school,
    I initially wanted to go to art school but quickly pivoted towards
    engineering.
  </p>
  <p class="my-3 hyphens-none font-sans text-neutral-50/60">
    In 2014, I moved to Canada to pursue software engineering. Since then, I
    have lived a large part of the last decade in Ottawa. These days, I split my
    time living in East-coast Canada and East-coast India.
    <br />
    <Footnote>
      <span class="inline-block text-xs text-neutral-50/80"
        >I became a permanent resident of Canada in 2021</span
      >
    </Footnote>
  </p>
  <p class="my-3 hyphens-none font-sans text-neutral-50/60">
    Life is too short to spend time engaging in “if only” or “what if?” thoughts
    about the past and present. I’m constantly chasing the <em>hyggeligt</em>
     feeling&mdash;some of my best moments are spent in low-light environments,
    enjoying deep conversations and good food with friends and family.
  </p>
  <p class="my-3 hyphens-none font-sans text-neutral-50/60">
    But I also like to spend an inordinate amount of time in isolation, honing
    my craft. I like to seek discomfort, do difficult things, but I also believe
    in taking time to relax and introspect. I’m a slow thinker, and tend to
    focus on one thing at a time.
  </p>
  <p class="my-3 hyphens-none font-sans text-neutral-50/60">
    After quitting social media, I’m now slowly reclaiming the time lost
    doom-scrolling by picking up new habits—like baking, and reading books—at
    times improving my cooking skills.
  </p>
</div>
