---

---

<div class="my-4 text-sm">
  <h2 class="mb-1.5 select-none font-sans font-medium text-neutral-50/30">
    Broadly
  </h2>
  <p class="mb-3 hyphens-none font-sans text-sm text-neutral-50/75">
    Navigating through a world where nobody knows <strong class="font-medium"
      >anything</strong
    >. I get the most motivation doing things others tell me I can’t.
  </p>
  <p class="mb-3 hyphens-none font-sans text-sm text-neutral-50/75">
    Focusing on honing my craft. Taking risks. Not following the rules. Not
    playing it safe.
  </p>
</div>
