---

---

<div class="my-4 text-sm">
  <h2 class="mb-1.5 select-none font-sans font-medium text-neutral-50/30">
    Connect
  </h2>
  <p class="my-3 hyphens-none font-sans text-neutral-50/60">
    I love to connect with new people. If you want to say hi or have something
    you want to share with me you can use my <a
      class="bg-[#b3fc03]/30 text-sky-50 underline decoration-[#b3fc03]/90 decoration-2 underline-offset-4 transition-colors hover:bg-[#b3fc03] hover:text-neutral-950/95"
      href="mailto:hey@kimchiii.space">email</a
    >.
    <span class="my-1.5 inline-block text-xs text-neutral-50/80"
      ><span class="font-medium">Footnotes</span>: I get a lot of emails these
      days, so please don’t feel bad if I don’t get back to you in time</span
    >
  </p>
</div>
