---
import Filter from "bad-words";

import Link from "@/components/ui/link-primitive.tsx";
import ReadingCard from "@/components/reading-card.tsx";

import { client, myBooksQuery } from "@/lib/literal-club";

import type { ReadingState } from "@/data/shared";

const reading = await client
  .query(myBooksQuery, {})
  .toPromise()
  .then(result => {
    const { myReadingStates } = result.data;

    return (myReadingStates as Array<ReadingState>)
      .filter(state => state.status === "IS_READING")
      .slice(-1)
      .map(({ book }) => ({
        slug: book.slug,
        title: book.title,
        author: book.authors[0].name,
        cover: book.cover,
      }))[0];
  });
---

<div class="my-4 text-sm">
  <h2 class="mb-1.5 select-none font-sans font-medium text-neutral-50/30">
    Currently
  </h2>
  <p class="mb-3 hyphens-none font-sans text-sm text-neutral-50/75">
    Slowly learning 日本語. Reading{" "}
    <ReadingCard {...reading} client:only="react">
      <Link
        className="bg-[#b3fc03]/30 text-sky-50 underline decoration-[#b3fc03]/90 decoration-2 underline-offset-4 transition-colors hover:bg-[#b3fc03] hover:text-neutral-950/95"
        href={`https://literal.club/yeskunall/book/${reading.slug}`}
        external
        popOver
      >
        {reading.title}
      </Link>
    </ReadingCard>{" "}
     by {reading.author}.
  </p>
</div>
