---
type Props = {
  title?: string;
};

const { title = "Extras" } = Astro.props;
---

<div
  class="mb-4 flex w-full flex-col gap-y-0.5 rounded border border-neutral-900 bg-neutral-950 p-1 px-4 py-3 text-neutral-50/70"
>
  <h2 class="mb-0.5 text-xs font-medium text-neutral-50/80">{title}</h2>
  <slot />
</div>
