<div
  class="-mx-1.5 rounded-2xl bg-gray-2 px-8 py-6 text-sm [font:var(--type-ui)]"
>
  <p class="not-prose mb-2.5 pr-5 text-xs text-gray-11 sm:text-sm">
    Subscribe to my newsletter for a monthly round-up of new blog posts and
    projects I’m working on!
  </p>
  <form
    action="https://buttondown.email/api/emails/embed-subscribe/yeskunall"
    method="post"
    target="_blank"
    class="mt-2.5 sm:mt-2"
  >
    <div class="grid grid-cols-[1fr,max-content] items-center gap-x-2">
      <input
        type="email"
        aria-required="true"
        autocapitalize="off"
        autocomplete="off"
        name="email"
        placeholder="Email address"
        spellcheck="false"
        required
        class="w-full rounded-md border-gray-7 bg-gray-1 px-2 py-1.5 text-sm [box-shadow:inset_0_1px_0_var(--mauve-6)] placeholder:text-gray-5 focus:border-gray-8 focus:ring-1"
      />
      <button
        class="select-none rounded-md border border-gray-9 bg-gray-12 px-4 py-1.5 text-gray-1 [box-shadow:inset_0_1px_0_var(--mauve-8)]"
      >
        Subscribe
      </button>
    </div>
    <p class="not-prose mt-2 text-right">
      <a
        href="/rss.xml"
        target="_blank"
        class="inline-block text-xs text-gray-11 transition-colors hover:text-gray-12"
      >
        Follow via RSS instead
      </a>
    </p>
  </form>
</div>
