---
import { format } from "date-fns";

import { cn } from "@/lib/utils";

import type { CollectionEntry } from "astro:content";

type Props = {
  class?: string;
  post: CollectionEntry<"post">;
  stagger?: number;
};

const { class: className, post, stagger } = Astro.props;
const datetime = post.data.publishDate.toISOString();
const postDate = format(post.data.publishDate, "do MMM',' yyyy");
---

<div
  class={cn(
    "group cursor-pointer py-1.5 transition-colors hover:border-ruby-3 hover:bg-ruby-2",
    className,
  )}
  data-animate
>
  <a
    class="flex items-center justify-between transition-colors group-hover:text-ruby-11"
    href={`/writing/${post.slug}/`}
    data-astro-prefetch
  >
    <h3 class="[font:var(--type-ui)]">
      {post.data.title}
    </h3>
    <time
      class="tabular-nums select-none font-mono text-xs tracking-[-0.075em] [font-variant-numeric:tabular-nums]"
      datetime={datetime}
    >
      {postDate}
    </time>
  </a>
</div>

<style define:vars={{ stagger }}>
  @keyframes enter {
    0% {
      opacity: 0;
      transform: translateY(10px);
    }

    to {
      opacity: 1;
      transform: none;
    }
  }

  [data-animate] {
    --delay: 120ms;
    --stagger: 0;
    --start: 0ms;
  }

  @media (prefers-reduced-motion: no-preference) {
    [data-animate] {
      animation: enter 0.6s both;
      animation-delay: calc(var(--delay) * var(--stagger) + var(--start));
    }
  }
</style>
