---

---

<div class="fixed right-3 top-1/2 h-16 w-1 rounded-lg bg-ruby-a3 sm:left-3">
  <div class="absolute top-0 h-full w-full rounded-lg bg-ruby-9"></div>
</div>

<style>
  @keyframes grow {
    from {
      transform: scaleY(0);
    }

    to {
      transform: scaleY(1);
    }
  }

  div > div {
    animation: 1ms linear both grow;
    animation-timeline: scroll();
    transform-origin: top;
  }
</style>
