---
import type { CollectionEntry } from "astro:content";

import { ViewTransitions } from "astro:transitions";

import Umami from "~/components/_fragments/analytics/umami.astro";
import Footer from "~/layouts/footer.astro";
import Header from "~/layouts/header.astro";
import Helmet from "~/layouts/helmet.astro";

interface Props {
  post?: CollectionEntry<"post">
}

const { post } = Astro.props;
---

<html lang="en-CA">
  <head>
    <Helmet post={post} />
    <Umami />
    <ViewTransitions />
  </head>
  <body>
    <Header transition:persist />
    <div class="flex min-h-screen max-w-xl flex-col gap-y-32 px-8 py-16">
      <main class="flex w-full max-w-full grow flex-col gap-16 py-16 pb-0">
        <slot />
      </main>
      <Footer transition:persist />
    </div>
    <script>
      import "~/scripts/vendor/umami.ts";
    </script>
  </body>
</html>
