---
import type { CollectionEntry } from "astro:content";

import Footer from "~/layouts/footer.astro";
import Helmet from "~/layouts/helmet.astro";

interface Props {
  post?: CollectionEntry<"post">;
}

const { post } = Astro.props;
---

<html lang="en-CA">
  <head>
    <Helmet post={post} />
  </head>
  <body>
    <main class="relative mx-auto max-w-prose p-8 py-16">
      <slot />
    </main>
    <Footer />
  </body>
</html>
