---
import BaseHead from "@/components/base-head.astro";
import Footer from "@/layouts/footer.astro";
import Header from "@/layouts/header.astro";

import { siteConfig } from "@/site-config";

import type { SiteMeta } from "@/site-config";

type Props = {
  meta: SiteMeta;
};

const {
  meta: {
    title = siteConfig.title,
    description = siteConfig.description,
    publishDate,
  },
} = Astro.props;
---

<html lang={siteConfig.lang}>
  <head>
    <BaseHead
      title={title}
      description={description}
      publishDate={publishDate}
    />
  </head>
  <body>
    <Header />
    <main class="relative mx-auto max-w-[660px] p-8">
      <slot />
    </main>
    <Footer />
  </body>
</html>
