---
import type { CollectionEntry } from "astro:content";

import { ViewTransitions } from "astro:transitions";

import Umami from "~/components/analytics/umami.astro";
import Helmet from "~/layouts/helmet.astro";

interface Props {
  post?: CollectionEntry<"post">;
}

const { post } = Astro.props;
---

<html lang="en-CA">
  <head>
    <Helmet post={post} />
    <Umami />
    <ViewTransitions />
  </head>
  <body>
    <main class="mx-auto max-w-xl px-8 py-16">
      <slot />
    </main>
  </body>
</html>
