---
import BlogHero from "@/components/blog/Hero.astro";
import BaseLayout from "./Base.astro";

import type { CollectionEntry } from "astro:content";

interface Props {
  post: CollectionEntry<"post">;
}

const { post } = Astro.props;
const {
  data: { title, description, ogImage, publishDate },
  slug,
} = post;
const socialImage = ogImage ?? `/og-image/${slug}.png`;
const articleDate = publishDate.toISOString();
const { headings } = await post.render();
---

<script>
  const scroll = document.getElementById("to-top-btn") as HTMLButtonElement;
  const targetHeader = document.getElementById("blog-hero") as HTMLDivElement;

  function callback(entries: IntersectionObserverEntry[]) {
    entries.forEach(entry => {
      // Only show the scroll to top button when the heading is out of view
      scroll.dataset.show = (!entry.isIntersecting).toString();
    });
  }

  scroll.addEventListener("click", () => {
    document.documentElement.scrollTo({ top: 0, behavior: "smooth" });
  });

  const observer = new IntersectionObserver(callback);
  observer.observe(targetHeader);
</script>

<BaseLayout meta={{ title, description, articleDate, ogImage: socialImage }}>
  <article class="break-words">
    <div id="blog-hero">
      <BlogHero content={post} />
    </div>
    <div
      class="prose prose-base prose-equinox mt-12 prose-headings:font-medium prose-a:text-green-100/90 prose-a:underline prose-a:underline-offset-2 prose-code:text-[12.5px] prose-code:leading-[18px] prose-th:before:content-none"
    >
      <slot />
    </div>
  </article>
  <button
    id="to-top-btn"
    class="z-90 fixed bottom-8 end-4 flex h-10 w-10 translate-y-28 items-center justify-center rounded-full border-2 border-transparent bg-sky-50 text-3xl opacity-0 transition-all duration-300 hover:border-sky-100 data-[show=true]:translate-y-0 data-[show=true]:opacity-100 sm:end-8 sm:h-12 sm:w-12"
    aria-label="Back to Top"
    data-show="false"
    ><svg
      xmlns="http://www.w3.org/2000/svg"
      aria-hidden="true"
      focusable="false"
      fill="none"
      viewBox="0 0 24 24"
      stroke-width="2"
      stroke="black"
      class="h-6 w-6"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        d="M4.5 15.75l7.5-7.5 7.5 7.5"></path>
    </svg>
  </button>
</BaseLayout>
