<footer>
  <figure class="flex flex-col gap-2">
    <blockquote>
      <p>
        “Voici mon secret. Il est très simple: on ne voit bien qu'avec le cœur. L'essentiel est invisible pour les yeux.”
      </p>
    </blockquote>
    <figcaption class="text-gray-11">
      <small>The last sentence in <cite><a href="https://en.wikipedia.org/wiki/The_Little_Prince">Le Petit Prince</a> by <strong>Antoine de Saint-Exupéry</strong> (Chapter 21, Le Renard)</cite></small>
    </figcaption>
  </figure>
</footer>
