---
import { getCollection } from "astro:content";

const socials = (await getCollection("socials")).flatMap(({ data }) => data);
---

<footer
  class="wide-wrapper mt-8 flex flex-col p-8 [--wrap-wide:65ch]"
  data-animate
  style="--stagger:15"
>
  <div aria-hidden="true" class="flex h-1 flex-none select-none gap-[0.5px]">
    <span class="w-6 bg-gray-12"></span>
    <span class="w-6 bg-gray-11"></span>
    <span class="w-6 bg-gray-10"></span>
    <span class="w-6 bg-gray-9"></span>
    <span class="w-6 bg-gray-8"></span>
    <span class="w-6 bg-gray-7"></span>
    <span class="w-6 bg-gray-6"></span>
    <span class="w-6 bg-gray-5"></span>
    <span class="w-6 bg-gray-4"></span>
    <span class="w-6 bg-gray-3"></span>
    <span class="w-6 bg-gray-2"></span>
    <span class="w-6 bg-gray-1"></span>
  </div>
  <div class="text-xs sm:pt-4 sm:text-sm">
    <ul class="my-8 flex flex-wrap gap-3">
      {
        socials.map(({ href, title }) => (
          <li>
            <a
              class="group inline-flex items-center space-x-1"
              href={`${href}?ref=${import.meta.env.SITE}`}
              rel="nofollow noopener noreferrer"
            >
              {""}—
              <span class="text-gray-12 transition-colors ease-productive-standard sm:text-gray-11 sm:group-hover:text-gray-12">
                {title}
              </span>
            </a>
          </li>
        ))
      }
    </ul>
  </div>
  <div class="inline-flex select-all items-center gap-x-1 text-sm text-gray-11">
    ©&nbsp;2024 Kunall Banerjee
  </div>
</footer>

<style>
  @keyframes enter {
    0% {
      opacity: 0;
      transform: translateY(10px);
    }

    to {
      opacity: 1;
      transform: none;
    }
  }

  [data-animate] {
    --delay: 120ms;
    --stagger: 0;
    --start: 0ms;
  }

  @media (prefers-reduced-motion: no-preference) {
    [data-animate] {
      animation: enter 0.6s both;
      animation-delay: calc(var(--delay) * var(--stagger) + var(--start));
    }
  }
</style>
