---
import { getCollection } from "astro:content";
import { RssIcon } from "lucide-react";

import PageLayout from "@/layouts/base.astro";
import PostPreview from "@/components/blog/post-preview.astro";
import Pagination from "@/components/paginator.astro";

import { sortByDate } from "@/utils";

import type { CollectionEntry } from "astro:content";
import type { GetStaticPaths, Page } from "astro";

export const getStaticPaths = (async ({ paginate }) => {
  const allPosts = await getCollection("post");
  const allPostsByDate = sortByDate(allPosts);
  const pageSize = 5;

  return paginate(allPostsByDate, {
    pageSize,
  });
}) satisfies GetStaticPaths;

interface Props {
  page: Page<CollectionEntry<"post">>;
}

const { page } = Astro.props;

const meta = {
  title: "Read the blog",
  description: "Everything I’ve written over the years.",
};

const paginationProps = {
  ...(page.url.prev && {
    prevUrl: {
      url: page.url.prev,
      text: `← Previous`,
    },
  }),
  ...(page.url.next && {
    nextUrl: {
      url: page.url.next,
      text: `Next →`,
    },
  }),
};
---

<PageLayout meta={meta}>
  <div class="mx-auto max-w-xl space-y-6">
    <div class="flex select-none items-center justify-between font-sans">
      <h2 class="text-lg text-neutral-600">Posts</h2>
      <a
        class="flex items-center space-x-1.5 text-neutral-300 transition-colors hover:text-neutral-400"
        href="/rss.xml"
      >
        <RssIcon className="h-4 w-4" />
        <span>Follow via RSS</span>
      </a>
    </div>
    <p class="font-serif text-lg font-medium leading-snug text-neutral-900/60">
      I mainly write about my life, minimalism &amp; the web
    </p>
    <div class="grid">
      <section aria-label="Paginated blog posts">
        <ul class="space-y-2 text-start">
          {
            page.data.map((post, index) => {
              return (
                // eslint-disable-next-line
                <li class="mb-1.5 flex flex-col gap-2 sm:mb-3 sm:flex-row">
                  <PostPreview
                    post={post}
                    as="h2"
                    data-animate
                    style={`--stagger:${index * 2}`}
                  />
                </li>
              );
            })
          }
        </ul>
        <Pagination {...paginationProps} />
      </section>
    </div>
  </div>
</PageLayout>

<style>
  @media (hover: hover) {
    ul:hover li {
      opacity: 0.3;
    }

    ul:hover li:hover {
      opacity: 1;
    }
  }
</style>
