---
import { getCollection } from "astro:content";

import PageLayout from "@/layouts/Base.astro";
import PostPreview from "@/components/blog/post-preview.astro";
import Pagination from "@/components/paginator.astro";

import type { CollectionEntry } from "astro:content";
import type { GetStaticPaths, Page } from "astro";

export const getStaticPaths = (async ({ paginate }) => {
  const allPosts = await getCollection("post");
  const allPostsByDate = sortByDate(allPosts);
  const pageSize = 10;
  const uniqueTags = getUniqueTags(allPosts);

  return paginate(allPostsByDate, {
    props: { uniqueTags },
    pageSize,
  });
}) satisfies GetStaticPaths;

interface Props {
  page: Page<CollectionEntry<"post">>;
  uniqueTags: string[];
}

const { page } = Astro.props;

const meta = {
  title: "Writing",
  description: "Everything I’ve written over the years.",
};

const paginationProps = {
  ...(page.url.prev && {
    prevUrl: {
      url: page.url.prev,
      text: `← Previous`,
    },
  }),
  ...(page.url.next && {
    nextUrl: {
      url: page.url.next,
      text: `Next →`,
    },
  }),
};
---

<PageLayout meta={meta}>
  <div class="mx-auto max-w-md space-y-6">
    <div class="grid gap-y-16 sm:grid-cols-[3fr_1fr] sm:gap-x-8">
      <section aria-label="Blog post list">
        <ul class="space-y-2 text-start">
          {
            page.data.map((post, index) => {
              return (
                // eslint-disable-next-line
                <li class="mb-1.5 flex flex-col gap-2 transition-colors hover:text-green-100/70 sm:mb-3 sm:flex-row">
                  <PostPreview
                    post={post}
                    as="h2"
                    data-animate
                    style={`--stagger:${index * 2}`}
                  />
                </li>
              );
            })
          }
        </ul>
        <Pagination {...paginationProps} />
      </section>
    </div>
  </div>
</PageLayout>

<style>
  @media (hover: hover) {
    ul:hover li {
      opacity: 0.3;
    }

    ul:hover li:hover {
      opacity: 1;
    }
  }
</style>
